<h1>Products</h1>
<div class="card">
    <div class="card-head">Angular - Product 1</div>
    <div class="card-body">
        Angular dashboards are web-based applications built using the Angular framework that provide a visual representation of complex data and information.
    </div>
</div>
<div class="card">
    <div class="card-head">Angular - Product 2</div>
    <div class="card-body">
        Angular dashboards are web-based applications built using the Angular framework that provide a visual representation of complex data and information.
    </div>
</div>